h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    color: white;
    width: 200px;
    margin-bottom: 5px;
    font-weight: bold;
    border-radius: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: none;
}

p {
    color: black;
    font-weight: bold
}

#increment-btn {
    background: #6740F5;
}

#save-btn {
    background: #F440AF;
}

body {
    align-content: center;
    background-color: #2ABF98;
    text-align: center;
}
